@model Bisnicity.Models.tempviewmodel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "EditTemp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>EditTemp</h1>

<h4>Templete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTemp" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tempid" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="catid" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="userid" />
            <div class="form-group">
                <label asp-for="backgroun" class="control-label"></label>
                <input asp-for="backgroun" class="form-control" />
                <span asp-validation-for="backgroun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="logo" class="control-label"></label>
                <input asp-for="logo" class="form-control" />
                <span asp-validation-for="logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="choseprice" class="control-label"></label>
                <input asp-for="choseprice" class="form-control" />
                <span asp-validation-for="choseprice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Templete">Back to List</a>
</div>

