@model BisnicityApp.Entites.DetailsPerson

@{
    ViewData["Title"] = "EditDetailsPerson";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>EditDetailsPerson</h1>

<h4>DetailsPerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDetailsPerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetailsPersonID" />
            <div class="form-group">
                <label asp-for="AboutUs" class="control-label"></label>
                <input asp-for="AboutUs" class="form-control" />
                <span asp-validation-for="AboutUs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expirence" class="control-label"></label>
                <input asp-for="Expirence" class="form-control" />
                <span asp-validation-for="Expirence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutImage" class="control-label"></label>
                <input asp-for="AboutImage" class="form-control" />
                <span asp-validation-for="AboutImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebooklink" class="control-label"></label>
                <input asp-for="Facebooklink" class="form-control" />
                <span asp-validation-for="Facebooklink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Whatslink" class="control-label"></label>
                <input asp-for="Whatslink" class="form-control" />
                <span asp-validation-for="Whatslink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" hidden class="control-label"></label>
                <input asp-for="UserId"  class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatPersonID" hidden class="control-label"></label>
                <select asp-for="CatPersonID" class="form-control" asp-items="ViewBag.CatPersonID"></select>
                <span asp-validation-for="CatPersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DetailsPerson">Back to List</a>
</div>

