
@{
    Layout = "_Layout";
}
<style>
    #h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 72px;
        color: #FFFFFF;
        margin-top: 10%;
    }

    #p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
        margin-top: 5%;
    }

    #but {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
        background: #1A9D92;
        border-radius: 8px;
        width: 263px;
        margin-top: 2%;
    }

    #ppp {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
    }
</style>
<div class="container-fluid" style="background-image: url(../images/Leadership/Rectangle1.png); background-size: cover; height: 35rem;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 id="h1">Training</h1>
            <p id="p">
                About vocational training.<br>
                Vocational training is defined as the education that prepares male and female students to<br> work in a specialty. Or a package or a craft: that is, to become an expert in a specific field, and <br> sometimes it is called technical education
            </p>
            <br>
            <button type="button" class="btn" id="but">Explore More </button>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<div class="container-fluid" style="margin-bottom: 4%; margin-top: 3%;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p style="margin-top: 5%;" id="ppp">
                Vocational education includes several specializations in different fields. It is worth noting that <br> some professional matters may not require a certificate or scientific knowledge, such as gold <br> and silversmithing, as they depend more on practical skills away from the academy.
            </p>
            <br>
            <p id="ppp">
                Vocational education, in other words, means education that is directly related to the labor <br> market, job, industry, package or technology. Vocational education is often taught at the <br> secondary level in schools and  universities as well. It is worth noting that vocational education <br> and vocational training are abundant, as it is taught in schools, vocational training centers, <br> colleges, universities and schools.
            </p>
            <br>
            <p style="margin-bottom: 5%;" id="ppp">
                And still, until now, students of vocational education acquire knowledge and then apply it, as if <br> they were learning commerce, for example, so they acquire scientific knowledge and its <br> principles, and then apply them in the commercial labor market.
            </p>
            <a href=@Url.Action("ShowTran","Home") type="button" class="btn" id="but">Join Now  </a>
        </div>
        <div class="col-md-5">
            <img src="~/images/Leadership/Rectangle2.png" style="width:100%; margin-top: 6%;">
        </div>
    </div>
</div>