@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="width: 244%;">
    <img src="~/images/BIT/Group 5250.png" />

    <h3 style="text-align: center;
                color:#525252;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 54px;
                ">
        BusinessCity InterNational
    </h3>
    <p style="font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #525252;">
        An integrated website that contains within its sections a wide range of services The necessary professional that has been identified according to opinion polls and market studies The local and Arab countries, as a whole, seek to provide unique technological services that contribute to Business growth and rapid access to potential customers via the Internet, and supports Job seekers, talent seekers, and help entrepreneurs New ideas who wish to seek support for start-up or existing companies, are based on The principle of joint investment, available from all over the world.
    </p>
</div>
