@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/services.css" rel="stylesheet" />
<section style="margin-top:5%">
    <div class="hero">
        <h1 class="h11">Business services</h1>
        <p class="p11">
            Unique services and solutions that we offer to businesses, shops and companies of all kinds, to contribute with you to developing your business and giving you the added value you desire.
        </p>
    </div>
    @*// <form asp-action="ContactUs" asp-controller="Home" enctype="multipart/form-data" method="post">*@


        <div class="container" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Shape.png">
                        <h1 class="h333" style="display: contents;"></h1>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector.png">
                        <h3 class="h333" style="display:contents;">
                            Intro/commercial website design
                        </h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector1.png">
                        <h3 class="h333" style="display: contents;">Recruitment services</h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Shape.png">
                        <h3 class="h333" style="display: contents;">Training and institutional development </h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector (2).png">
                        <h3 class="h333" style="display: contents;">Individual services </h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector (3).png">
                        <h3 class="h333" style="display: contents;">Recruitment services </h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector (4).png">
                        <h3 class="h333" style="display: contents;">Training and personal academic and professional development</h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector (5).png">
                        <h3 class="h333" style="display: contents;">Graduate qualification </h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>

                <div class="col-md-12">
                    <span class="icon">
                        <img src="~/images/services/Vector (6).png">
                        <h3 class="h333" style="display: contents;">Leadership services for creative ideas to support creativity in business</h3>
                    </span>
                    <div class="content">
                        <p class="p22">
                            Through this section, you will be able to create your online store on our comprehensive digital platform "Business City", which in turn will connect you with your customers and deliver your offered products and services to searchers on the Internet through any of the well-known consumer search engines.
                        </p>
                        <hr style="margin-top: 5%; border: 1px solid #DCD9D9;">
                    </div>
                </div>
            </div>
        </div>
</section>