@model Changepasswordviewmodel
@using Infrastrucer.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> sigin;
@{
    Layout = "_Layout";
    var mess = TempData["message"] ?? string.Empty;

}
<link href="~/css/toastr.css" rel="stylesheet" />
<style>
    #text {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #363636;
    }

    #text2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    #pass {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    #inpass {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #A09696;
    }

    #dot {
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 48px;
        /* identical to box height */


        color: #3A3A3A;
    }

    .list-group a:active {
        background-color: #1A9D92;
        color: white;
    }

    #listgrop {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #000000;
    }

    #input {
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 8px;
        height: 53px;
    }

    #label {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #363636;
    }
</style>

<div class="container">
    <div class="row">

        <div class="col-md-3">
           
            <div class="list-group" style="border-radius: 1rem;" id="listgrop">
                @if (sigin.IsSignedIn(User) && User.IsInRole(BisnicityKey.BusinessRole))
                {
                    <a href=@Url.Action("Index","Business") class="list-group-item list-group-item-action active" style="background-color:#1A9D92 ; color: white;" aria-current="true">
                        <i style="color: white;" class="fa fa-user"></i>  My Account<i class="fas fa-user-alt"></i>
                    </a>
                    
                    <a href=@Url.Action("","Business") class="list-group-item list-group-item-action"> <i style="color: #1A9D92;" class="fa fa-users"></i> Show Person</a>
                    <a href=@Url.Action("","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/category.png" alt="" srcset="" width="20" height="20"> Show Company Category </a>
                    <a href=@Url.Action("AddJob","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/jop.png" alt="" srcset="" width="20" height="20"> Add job</a>
                    <a href=@Url.Action("AddPost","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/post.png" alt="" srcset="" width="20" height="20"> Add Post</a>
                    <a href=@Url.Action("","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/apply.png" alt="" srcset="" width="20" height="20"> Show Apply</a>

                    <a href=@Url.Action("MyPost","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/mypost.png" alt="" srcset="" width="20" height="20"> My Post</a>

                    <a href=@Url.Action("ShowJob","Business") class="list-group-item list-group-item-action">
                        <img src="~/images/profile/company.png" alt="" srcset="" width="20" height="20"> Company Jobs
                    </a>
                }

                @if (sigin.IsSignedIn(User) && User.IsInRole(BisnicityKey.PersonRole))
                {
                    <a class="list-group-item list-group-item-action active" style="background-color:#1A9D92 ; color: white;" aria-current="true">
                        <i style="color: white;" class="fa fa-user"></i>  My Account<i class="fas fa-user-alt"></i>
                    </a>
                    <a href=@Url.Action("","Person") class="list-group-item list-group-item-action"><img src="~/images/profile/category.png" alt="" srcset="" width="20" height="20"> Show person Category </a>
                    <a href=@Url.Action("ShowCompanyJob2","Person") class="list-group-item list-group-item-action"><img src="~/images/profile/jop.png" alt="" srcset="" width="20" height="20"> Show job</a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <h1 id="pass" style="margin-top: 1%;">Change Password</h1>
            <hr />
            <form method="post" asp-action="ChangePassword" asp-controller="Account">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label id="label" for="inputEmail4">Current Password</label>
                        <input asp-for="Currntpassword" type="text" class="form-control" id="inputEmail4 input">
                        <span asp-validation-for="Currntpassword" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label id="label" for="inputEmail4">New Password</label>
                        <input asp-for="sPassword" type="password" class="form-control" id="inputEmail4 input">
                        <span asp-validation-for="sPassword" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">
                        <label id="label" for="inputPassword4">Confirm Password</label>
                        <input asp-for="sConfirmPassword" type="password" class="form-control" id="inputPassword4 input">
                        <span asp-validation-for="sConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-3">
                        <input type="submit" value="Save" class="btn btn-block" style="background-color: #1A9D92; color: white;border-radius: 1rem;" />
                    </div>

                    @if (sigin.IsSignedIn(User) && User.IsInRole(BisnicityKey.BusinessRole))
                    {
                        <div class="form-group col-md-3">
                            <a href=@Url.Action("Index", "Business") class="btn btn-block" style="background-color: #fdfdfd; color: rgb(0, 0, 0);border-radius: 1rem;border: 1px solid gray;">Cancel</a>
                        </div>
                    }
                    @if (sigin.IsSignedIn(User) && User.IsInRole(BisnicityKey.PersonRole))
                    {
                        <div class="form-group col-md-3">
                            <a href=@Url.Action("IndexPerson", "Person") class="btn btn-block" style="background-color: #fdfdfd; color: rgb(0, 0, 0);border-radius: 1rem;border: 1px solid gray;">Cancel</a>
                        </div>
                    }
                </div>
            </form>

        </div>


    </div>
</div>


<script src="~/lib/jquery/jquery.js"></script>
<script src="~/js/toastr.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ss = '@mess';
        if (ss) {
            toastr.success(ss);
        }
    })
</script>
