@{
    <!-- Start Footer  -->
    <section class="container-fluid text-center mt-5" style="background: #108D85">
        <br>
        <a href=@Url.Action("Index1","Home") style="color: white !important; padding: 6px;"><i class="fas fa-home"></i> Home </a>
        <a href=@Url.Action("ContactUs","Home") style="color: white !important; padding: 6px;"><i class="fas fa-envelope-open"></i> Contact </a>
        <a href=@Url.Action("AboutUs","Home") style="color: white !important; padding: 6px;"><i class="fas fa-info-circle"></i> About Us </a>
        <hr id="line">
        <div class="row">
            <div class="col-md-6" id="copyright">© 2021 I  Busincity</div>
            <div class="col-md-6">
                <a href=""> <i id="links" class="fab fa-facebook-f"></i></a>
                <a href=""><i id="links" class="fab fa-twitter"></i></a>
                <a href=""><i id="links" class="fab fa-youtube"></i></a>
                <a href=""><i id="links" class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <br>
    </section>
    <!-- End Footer -->
}