@model Bisnicity.Models.AddIdeaViewModel

@{
    Layout = "_Layout";
    var mess = TempData["Message"] ?? string.Empty;
}
<link href="~/css/toastr.css" rel="stylesheet" />
<style>

    #pass {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }

    .list-group a:active {
        background-color: #1A9D92;
        color: white;
    }

    #listgrop {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    #text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #525252;
    }

    .card {
        background: #FFFFFF;
        border: 1px solid #C8E7E5;
        box-sizing: border-box;
        border-radius: 15px;
        margin-bottom: 5%;
    }

    .card-img-top {
        padding: 10px;
    }

    #input {
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 8px;
        height: 53px;
    }

    #label {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }

    #labell {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #363636;
    }

    #btn {
        background: #1A9D92;
        border-radius: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
        width: 177px;
    }

    #input {
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 8px;
    }

    #pleaes {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        align-items: center;
        text-align: right;
        color: rgba(60, 60, 67, 0.6);
    }

    #che {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #707070;
    }
</style>
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-9">
            <h1 id="pass" style="margin-top: 1%;">Add Idea</h1>
            <hr>
            <form asp-action="AddIdea" asp-controller="Idea" enctype="multipart/form-data" method="post">

                <div class="form-group">
                    <label id="labell" for="inputAddress">Name Idea</label>
                    <input asp-for="ideaname" type="text" class="form-control" id="input">
                    <span asp-validation-for="ideaname" class="text-danger"></span>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label id="labell" for="inputEmail4">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="input">
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">
                        <label id="labell" class="label">TypeIdea</label>
                        <select id="input" asp-for="typeideaid" class="form-control"
                                asp-items="@(new SelectList(Model.TypesIdeas,"TypeIdeaID","NameType"))"></select>
                        <span asp-validation-for="typeideaid" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label id="labell" for="inputEmail4">Phone No</label>
                        <input asp-for="phoneno" type="tel" class="form-control" id="input">
                    </div>
                 
                        <div class="form-group col-md-6">
                            <label id="labell" for="inputEmail4">Your Name</label>
                            <input asp-for="Name" type="text" class="form-control" id="input">
                        </div>
                  
                </div>
           
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" id="labell">Description Of Idea </label>
                    <textarea asp-for="descreption" class="form-control" id="input" rows="10"></textarea>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label id="labell">Upload file</label><br>
                        <label id="#label" for="apply">
                            <input asp-for="Fileidea" type="file" name="" id="apply" accept=".png, .jpg, .jpeg" style="width: 0px;">
                            <img src="~/images/uploadicon/Group 11627.png" alt="" srcset="" width="20" height="20">
                            <span id="pleaes"> Please Upload Your Picture </span>
                        </label>
                        <span asp-validation-for="Fileidea" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="margin-top: 1%;">
                    <label class="form-check-label" for="defaultCheck1" id="che">
                        I agree on Terms and Conditions
                    </label>
                </div>
                <br><br>
                <button type="submit" class="btn btn-block" id="btn">Save</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var ss = '@mess';
        if (ss) {
            toastr.success(ss);
        }
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var ss = '@mess';
        if (ss) {
            toastr.error(ss);
        }
    })
</script>

