@model Bisnicity.Models.AddPostViewModel
@{
    Layout = "_Layout";
    var mess = TempData["messsages"] ?? string.Empty;

}
<link href="~/css/toastr.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" style="border-radius: 1rem;" id="listgrop">
                <a href=@Url.Action("Index","Business") class="list-group-item list-group-item-action"  aria-current="true">
                    <i style="color: white;" class="fa fa-user"></i>  My Account
                </a>
                <a href=@Url.Action("ShowPerson","Business") class="list-group-item list-group-item-action"> <i style="color: #1A9D92;" class="fa fa-users"></i> Show Person</a>
                <a href=@Url.Action("Index","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/category.png" alt="" srcset="" width="20" height="20"> Show Company Category </a>
                <a href=@Url.Action("AddJob","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/jop.png" alt="" srcset="" width="20" height="20"> Add job</a>
                <a href=@Url.Action("AddPost","Business") class="list-group-item list-group-item-action active" style="background-color:#1A9D92 ; color: white;"><img src="~/images/profile/post.png" alt="" srcset="" width="20" height="20"> Add Post</a>
                <a href=@Url.Action("ShowApplay","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/apply.png" alt="" srcset="" width="20" height="20"> Show Apply</a>

                <a href=@Url.Action("MyPost","Business") class="list-group-item list-group-item-action"><img src="~/images/profile/mypost.png" alt="" srcset="" width="20" height="20">My Post</a>

                <a href=@Url.Action("ShowJob","Business") class="list-group-item list-group-item-action">
                    <img src="~/images/profile/company.png" alt="" srcset="" width="20" height="20"> Company Jobs
                </a>

            </div>
        </div>
        <div class="col-md-9">
            <h1 id="pass" style="margin-top: 1%;">Add Post</h1>
            <hr>
            <form asp-action="AddPost" asp-controller="Business" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label id="label" for="inputEmail4">Title </label>
                        <input asp-for="Tittelpost" type="text" class="form-control" id="inputEmail4 input">
                        <span asp-validation-for="@Model.Tittelpost" class="text-danger"></span>

                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label id="#label" for="apply"><input type="file" asp-for="postimage" id="apply" accept=".png, .jpg, .jpeg" style="width: 0px;" /><img src="~/images/uploadicon/Group 11627.png" alt="" srcset="" width="20" height="20"><span id="pleaes"> Please Upload Your Picture </span></label>
                        <span asp-validation-for="@Model.postimage" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-9">
                      <label id="label">Comment </label><br>
                      <textarea asp-for="@Model.detailspost" id="textarea"></textarea>
                      <span asp-validation-for="@Model.detailspost" class="text-danger"></span>


                    </div>
                </div>
                <button type="submit" class="btn btn-block" style="background-color: #1A9D92; color: white;width: 28%;">Save</button>


            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/js/toastr.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ss = '@mess';
        if (ss) {
            toastr.success(ss);
        }
    })
</script>